{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h1 class="text-center">Dashboard</h1>
<hr>

{% with total_images_created=request.user.images_created.count %}
    <p>Welcome to your dashboard. You have bookmarked
        <b class="rounded-5 p-1 bg-dark text-light">{{total_images_created }}</b> image {{ total_images_created|pluralize }}</p>
{% endwith %}
<p>Drag the following button to your bookmarks toolbar to bookmark images from other websites<br>

<a class="btn btn-dark m-1" href="javascript:{% include 'bookmarklet_launcher.js' %}">Bookmark it</a><br>
<a href="{% url 'edit' %}" class="btn btn-dark m-1">edit your profile</a><br>
<a href="{% url 'password_change' %}" class="btn btn-dark m-1">change your password</a>

<h2 class="text-center">What's happening</h2>
<hr>
<div id="action-list">
{% for action in actions %}
    {% include "actions/action/detail.html" %}
{% endfor %}
</div>
{% endblock %}