{% extends "base.html" %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
<h1 class="text-center">{{ image.title }}</h1>
<hr>
<div style="float: left; margin-left: 1rem;">
    {% load thumbnail %}
    {% thumbnail image.image "300" as im %}
    <a href="{{ image.image.url }}">
        <img src="{{ im.url }}" class="rounded shadow" style="object-fit: contain; width: 30rem;">
    </a>
    {% endthumbnail %}
</div>
{% with total_likes=image.users_like.count users_like=image.users_like.all %}
<div style="float: right; margin-right: 24rem" class="rounded pt-4">
     <div>
        <span class="count border border-dark p-2 rounded-5" style="margin-right:1rem;">
         <span class="total" >{{ total_likes }}</span>
         like{{ total_likes|pluralize }}
        </span>
        <a href="#" style="margin-top: -5px;" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like btn button link-dark rounded-5">
          {% if request.user not in users_like %}
            Like
          {% else %}
            Unlike
          {% endif %}
        </a>
      </div>
    <a href="#" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="link-dark">
    </a>
    {{ image.description|linebreaks }}
</div>
    <div class="p-1 ">
        {% for user in image.users_like.all %}
            <img src="{{ user.profile.photo.url }}" style="width: 2.5rem; height: 2.5rem; margin: 3px" class="rounded-5">
            {{ user.first_name }}
    </div>
    {% empty %}
    Nobody likes this image yet.
    {% endfor %}
{% endwith %}
{% endblock %}

{% block domready %}
  $('a.like').click(function(e){
    e.preventDefault();
    $.post('{% url "images:like" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.like').data('action');

          // toggle data-action
          $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
          // toggle link text
          $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

          // update total likes
          var previous_likes = parseInt($('span.count .total').text());
          $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
        }
      }
    );
  });
{% endblock %}