{% load thumbnail %}

{% with user=action.user profile=action.user.profile %}
<div class="action p-3" style="">
  <div class="images">
    {% if profile.photo %}
      {% thumbnail user.profile.photo "80x80" crop="100%" as im %}
        <a href="{{ user.get_absolute_url }}" style="float: left;">
          <img src="{{ im.url }}" alt="{{ user.get_full_name }}" class="rounded-start">
        </a>
      {% endthumbnail %}
    {% endif %}

    {% if action.target %}
      {% with target=action.target %}
        {% if target.image %}
          {% thumbnail target.image "80x80" crop="100%" as im %}
            <a href="{{ target.get_absolute_url }}" style="text-decoration: none; float: left;">
              <img src="{{ im.url }}" class="rounded-end" style="margin-left: -4px;">
            </a>
              <div class="date text-secondary" style="float: left; margin-left: 8px;"><i>{{ action.created|timesince }} ago</i></div>
          {% endthumbnail %}
        {% endif %}
      {% endwith %}
    {% endif %}
  </div>
  <div class="info">
    <p>
      <br />
      <a href="{{ user.get_absolute_url }}" class="text-dark" style="text-decoration: none; margin-left: 8px;">
        {{ user.first_name }}
      </a>
      {{ action.verb }}
      {% if action.target %}
        {% with target=action.target %}
          <a href="{{ target.get_absolute_url }}" class="text-dark" style="text-decoration: none;">{{ target }}</a>
        {% endwith %}
      {% endif %}
    </p>
  </div>
</div>
{% endwith %}