{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<h1 class="text-center">{{ post.title }}</h1>

<div class="card bg-light p-3" style="width: 16rem; float: right; margin-top: -50px;">
    <h2>Similar posts</h2>
        {% for post in similar_posts %}
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
         {% empty %}
            There are no similar posts yet.
    {% endfor %}
</div>
    <p class="tags">
      Tags:
        {% for tag in post.tags.all %}
          <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
            {{ tag.name }}
          </a>
        {% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
<p class="date text-center">Published {{ post.publish }} by {{ post.author }}
{{ post.body|linebreaks }}



<p>
    <a href="{% url 'blog:post_share' post.id %}">Share this post</a>
</p>



{% with comments.count as total_comments %}
    <h5>{{ total_comments }} comment{{ total_comments|pluralize }}</h5>
{% endwith %}



{% for comment in comments %}
    <div class="comment card p-1 bg-light" style="width: 18rem;">
    <p class="info">
         {{ comment.created }}  ({{ forloop.counter }})
    </p>
        {{ comment.name }}: {{ comment.body }}
    </div>
{% empty %}
        <div class="comment card p-1 bg-light" style="width: 18rem;">
            <p> Комментариев пока-что нет :( </p>
        </div>
{% endfor %}

{% if new_comment %}
    <h2>Your comment has been added.</h2>
{% else %}



    <div class="card p-3 mt-3 bg-light" style="width: 22rem;">
        <h2>Add a new comment</h2>
        <form action="." method="post" class="form">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment" class="btn btn-primary"></p>
        </form>
    </div>
{% endif %}



{% endblock %}