{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}My Blog{% endblock %}

{% block content %}

<h1 class="text-center">My Blog</h1>

{% if tag %}
  <h2>Posts tagged with "{{ tag.name }}"</h2>
{% endif %}

{% for post in posts %}
<div class="card" style="width: 32rem; margin-left: auto; margin-right: auto; margin-top: 25px;">
  <div class="card-body">
    <h5 class="card-title"><a href="{{ post.get_absolute_url }}" class="">{{ post.title }}</a></h5>
    <p class="tags">
      Tags:
        {% for tag in post.tags.all %}
          <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
            {{ tag.name }}
          </a>
        {% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>

    <h6 class="card-subtitle mb-2 text-muted">{{ post.author }} {{ post.publish|truncatewords:10|linebreaks }}</h6>
    <p class="card-text">{{ post.body|markdown|truncatewords_html:30 }}</p>
  </div>
</div>
{% endfor %}
{% include "../pagination.html" with page=posts %}

{% endblock %}