{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div id="sidebar">
<h3 class="">Categories</h3>

<ul class="list-group float-start" style="width: 13rem; height: 100%; margin-right: 4px; margin-top: 0.8rem;">
    <li class="list-group-item" {% if not category %}{% endif %}>
        <a href="{% url 'shop:product_list' %}" class="link-dark">All</a>
    </li>
    {% for c in categories %}
    <li class="list-group-item " {% if category.slug == c.slug %} {% endif %}>
        <a href="{{ c.get_absolute_url }}" class="link-dark link-light">{{ c.name }}</a>
    </li>
    {% endfor %}
</ul>
</div>


<div id="main" class="text-center product-list float-top" style="margin-top: -3rem">
<h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
</div>


{% for product in products %}
    <div class="card" style="width: 12rem; float: left; margin: 4px;">
            <a href="{{ product.get_absolute_url }}" style="text-decoration: none;">
                <img class="rounded-top" style="margin-left:-1px; width: 12rem" src="{% if product.image %}{{ product.image.url }}{% else %}{% static '/img/no_image.png' %}{% endif %}">
            </a>
      <div class="card-body shadow">
            <a href="{{ product.get_absolute_url }}" class="link-dark">{{ product.name }}</a>
          <span class="total" style="float: right">
              ${{ product.price }}
          </span>
      </div>
    </div>
{% endfor %}

{% endblock %}