{% extends "base.html" %}
{% load static %}

{% block title %}Log-in{% endblock %}

{% block content %}


<h1 class="text-center">Log-in</h1>
<hr>
{% if form.errors %}
    <p>Your username and password didn't match.Please try again.</p>
{% else %}
    <p>Please, use the following form to log-in. If you don't have an account </p>
{% endif %}

<div class="login-form">
    <form action="{% url 'login' %}" method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />

        <input type="submit" value="Login" class="btn btn-dark">
        <a href="{% url 'register' %}" class="btn btn-dark-outline">Create account</a>
    </form>
</div>


<div class="social">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id="YOUR_CLIENT_ID"
         data-callback="handleCredentialResponse">
    </div>
    <div class="g_id_signin" data-type="standard"></div>

    <li class="google">
<a href="{% url "social:begin" "google-oauth2" %}">
Login with Google
</a>
</li>
</div>



{% endblock %}