{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Your shopping cart" %}{% endblock %}
{% block content %}

    <h1>{% trans "Your shopping cart" %}</h1>
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th style="border-radius: .5rem 0 0 0">{% trans "Image" %}</th>
            <th>{% trans "Product" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Remove" %}</th>
            <th>{% trans "Unit price" %}</th>
            <th style="border-radius: 0 .5rem 0 0">{% trans "Price" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img style="width: 12rem;" class="rounded m-2"
                                 src="{% if product.image %}{{ product.image.url }}
                            {% else %}{% static "img/no_image.png" %}{% endif %}">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>
                        <form action="{% url "cart:cart_add" product.id %}" method="POST" class="">
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.update }}
                            <input type="submit" value='✓' class="link-light btn btn-outline bg-gradient">
                            {% csrf_token %}
                        </form>
                    </td>
                    <td><a href="{% url "cart:cart_remove" product.id %}"
                           class="link-light btn btn-outline bg-gradient">✗</a></td>
                    <td class="num">{{ item.price }}₽</td>
                    <td class="num">{{ item.total_price }}₽</td>
                </tr>
            {% endwith %}
        {% endfor %}
        {% if cart.coupon %}
            <tr class="subtotal">
                <td>{% trans "Subtotal" %}</td>
                <td colspan="4"></td>
                <td class="num">${{ cart.get_total_price|floatformat:"2" }}</td>
            </tr>
            <tr>
                <td>
                    "{{ cart.coupon.code }}" coupon
                    ({{ cart.coupon.discount }}% off)
                </td>
                <td colspan="4"></td>
                <td class="num neg">
                    - ${{ cart.get_discount|floatformat:"2" }}
                </td>
            </tr>
        {% endif %}
        <tr class="total">
            <td style="border-radius: 0 0 0 .5rem ">{% trans "Total" %}</td>
            <td colspan="4"></td>
            <td style="border-radius: 0 0 .5rem 0" class="num">
                ${{ cart.get_total_price_after_discount|floatformat:'2'}}
            </td>
        </tr>
        </tbody>

    </table>
    <form action="{% url "coupons:apply" %}" method="POST" class="bg-dark text-light float-end p-2 rounded">
        {{ coupon_apply_form }}
        <input type="submit" value="{% trans "Apply" %}" class="btn btn-dark bg-gradient">
        {% csrf_token %}
    </form>

    <p class="text-right">
        <a href="{% url "shop:product_list" %}" class="btn btn-dark">{% trans "Continue shopping" %}</a>
        <a href="{% url 'orders:order_create' %}" class="btn btn-dark">{% trans "Checkout" %}</a>
    </p>
{% endblock %}